body{
     margin: 0 ;
     text-align: center;
}
.nav{
     margin: 0 auto;
     width: 100%;
     margin-top: 0px;
     background-color:#3498db;
     padding: 20px;
     float: left;
}

.nav a {
     transition-duration:0.5s;
     text-decoration: none;
     margin-left: 25px;
     color: #FFF;
}

.nav a:hover{
     transition-duration:0.5s;
     background: #FFF;
     color: #3498db;
     padding: 30px;
     border-bottom: 2px solid #3498db; 

}